.body {
  min-height: 3000px;
}

.navbar {
  background-color: #60686a;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #719192;
}

#about {
  background-color: #c1d0b5;
  text-align: justify;
}

#project {
  background-color: #719192;
  text-align: justify;
}

#contact {
  background-color: #c1d0b5;
}

section {
  padding-top: 5rem;
}

html {
  scroll-behavior: smooth;
}
